include COPYING.txt
include README.rst
include src/*.p*
include submodules/libinjection/COPYING.txt
include submodules/libinjection/c/libinjection.h
include submodules/libinjection/c/libinjection_sqli.c
include submodules/libinjection/c/libinjection_sqli.h
include submodules/libinjection/c/libinjection_sqli_data.h
include requirements.txt
